.divstyle{
    background-color: #303030;
    width: 56%;
    color: white;
    border: 1px solid black;
    padding: 20px 30px;
    cursor: pointer;
    margin-left: 19.5%;
    font-size: 26px;
    margin-top: 0.6%;
}






body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.hi{
    display: none;
    margin-left: 20%;
}

.divstyle:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


.active, .divstyle:hover{

    background-color: #303030;
    cursor: pointer;
}

.active:after{

    content: "\2212";
}